
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    max-width:1440px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 15;
    background-color: white;
    
    
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.menu-icon-clos{
    display: none;
    cursor: pointer;
}

.nav2{
    display:none;
    height: 100vh;
    padding-top: 24%;
}

.nav2 a {
    color: #141414;
    text-align: center;
    font-family: 'Clash Grotesk';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    padding: 10% 0 2% 0;
    border-bottom: 0.5px solid #525252;
    width: 20%;
}

.nav2 a:last-child {
    border: none;
}

.nav2 a:first-child {
    padding: 3% 0 2% 0;
}

nav{
    width: 50%;
    display: flex;
    justify-content: end;
}

nav a{
    padding-right: 4%;
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active{
    color: #FFA800;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo img{
    width: 60%;
}

/* hero section */

.hero-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    
}

.hero-left{
    width: 50%;
    margin: 8% 4%;
}

.hero-left h2{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

 .left-active{
    color: #FFA800;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.left-p{
    color: #000;
font-family: 'Clash Grotesk', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
/* width: 50%; */
margin-top: 24px;

}

button{
    border-radius: 8px;
    background: #FFBF23;
    padding: 14.5px 24px;
    border: none;
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    cursor: pointer;
}


.left-btm-flex{
    display: flex;
    gap: 16px;
    margin-top: 56px;
}

.flex-item{
    display: flex;
    gap: 2%;
    align-items: center;
}

.flex-item p{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    max-width:80%
}

.flex-item img{
width: 25%;
}

.hero-right{
    margin-top: 2%;
    width: 50%;
}



/* next section */

.container{
    display: flex;
    justify-content: space-around;
    background: #F5FAFF;
    padding: 64px 120px;
    gap: 6%;
    margin: 2% 0;

    
}

.container-left, .container-right{
    width: 50%;
}

.container-right{
    position: relative;
}

.right img{
    /* width: 100%; */
}

.container-left h2{
    color: #141414;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 0.5px;
    margin-bottom: 4%;
}

.container-left p{
    color: #3D3D3D;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    
}

.bt2{
    border-radius: 8px;
    border: 1px solid #464E5F;
    background-color: transparent;
    padding: 14.5px 24px;
}

.position-card img{
    width: 100%;
    
}

.position-card{
    width: 30%;
    margin: 0 auto;
    /* margin-bottom: 2%; */
}

.card-info{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 4%;
}

.position{
    border-radius: 16px;
    background: #FFF;
    padding: 6%;
    /* Shadow 4 */
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    /* width: 35%; */
}

.left{
    position: absolute;
    bottom: 45%;
    left: -13%;
    z-index: 1;
}

.bottom{
    position: absolute;
    right: 0%;
    bottom: -22%;
}

/* About section */

.About-cover{
    display: flex;
    justify-content: space-around;
    gap: 4%;
    margin: 4% 4%;
    position: relative;
    margin-top: 8%;
    margin-bottom: 12%;
}



.about-left{
    /* width: 50%;   */
}

.about-left-image img{
    width: 95%;
    margin-left: 10%;
}



.profile-card{
    display: flex;
    gap: 4%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 16px;
    /* width: 24%; */
}


.profile-img img{
    /* width: 100%; */
   
}
.profile-img{
    /* width:20%; */
    margin-top: 8%;
}

.inner-info h3{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: 0.5px;
    /* text-align: center; */
}

.sub-info{
    color: #141414;
    font-family:'Clash Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.5px;
    /* text-align: center; */
    margin-top: 2%;
}

.inner-info span{
    color: #141414;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.5px;
}

.email{
    color: #525252;
font-family: 'Clash Grotesk', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.5px;
}

.media{
    display: flex;
    gap: 16px;
    width: 15%;
    
}

.media img{
    width: 80%;
    /* margin-left: 8%; */
}


.image-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 4px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 2%;
    width: 12%;

}

.profile-card{
    position: absolute;
    bottom: 5%;
    left: -3%;
    /* z-index: 1; */
}

.image-card{
    position: absolute;
    right: 57%;
    bottom: -15%;
}



.about-right{
    width: 50%;
    
}

.about-info h3{
    color: #141414;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 0.5px;
    margin-bottom: 4%;
}

.about-right p{
    color: #292929;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    margin-bottom: 4%;
}

ul{
    color: #3D3D3D;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-left: 6%; 
    margin-bottom: 8%;
    
}






footer{
    display: flex;
    justify-content: space-between;
    background: #1E1E1E;
    padding: 2% 8%;
    gap: 32px;
    
}

.footer-logo img{
    width: 100%;
}

.footer-logo{
    width: 15%;
    

}

.footer-media{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.footer-media p{
    color: #FFF;
    font-family: 'Clash Grotesk';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.footer-icon{
    display: flex;
    gap: 8%;
    justify-content: end;
    width: 100%;
}


/* Bolg page style */


 
.blog-hero{
    /* background-image: url(image/Hero.png); */
    width: 100%;
    position: relative;
  

}

.blog-hero-left{
    position: absolute;
    bottom: 35%;
    right: 48%;
    z-index: 2;
    
}





.blog-hero-left h2{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}

.blog-right-hero img{
    width: 100%;

} 

.blog-hero-respond img{
    width: 100%;
}

.blog-hero-respond{
    display:none;
}

.Featured{
 margin: 2% 6%;
}

.Featured h2{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}

.Featured-list{
    display: flex;
    align-items: center;
    gap: 4%;
    
}

.Featured-list{
    margin-bottom: 56px;
}

.Featured-list a{
    color: #000;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    row-gap: 4%;
    width: 100%;
     margin-bottom: 10%;
   
}

.date{
    color: #495057;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}

.grid-image img{
    width: 100%;
}


.grid-info h3{
    font-family:'Clash Grotesk', sans-serif;
    color: #313131;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.grid-sub-info{
    color: #464E5F;
    font-family:'Clash Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.banna{
    position: relative;
    margin-bottom: 5%;
    margin: 2 6%;
    z-index: 1;
}

.bann-info-poistion{
    position: absolute;
    top: 45%;
    /* bottom: 0; */
    right: 18%;
    z-index: 1;
}

.banna img{
    width: 100%;
    border-radius: 8px;
}

.banna h3{
    color: #FFF;
text-align: center;
font-family:'Clash Grotesk', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* .line-img{
    margin: 0 4%;
    
} */

.short-cover img{
    position: absolute;
    top:-30px;
    left:50%;
    transform: translateX(-50%);
    align-items:center;
}

.short-cover{
    margin-bottom: 5%;
    position: relative;
    width: 100%;
    
}

/* .line-img hr{
    margin: 2% 6%;
} */

.short-cover p{
    text-align: center;
    margin: 4%;
    color: #313131;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.last-grid-cover{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin: 2% 8%;
    /* width: 100%; */
    
}

.last-grid-item{
    position: relative;
    
}

.last-grid-item img{
    width: 100%;
}

.last-grid-info{
    width: 80%;
    position: absolute;
    top: 25%;
    right:10%;
}

.last-date{
    color: #FFF;
    font-family:'Clash Grotesk', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.last-grid-info h3{
    color: #FFF;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.last-p-tag{
    color: #FFF;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    
}







/* responsiveness */

/* hero responsiveness and header */

@media (max-width: 1280px){
    .hero-left h2{
       
        font-size: 54px;
        
}

.left-p{
font-size: 20px;

}

.left-active{
    font-size: 54px; 
}

.container-left p{
    font-size: 16px;
}

}

@media (max-width: 1128px){
    .hero-left h2{
        font-size: 50px;
}
.left-active{
    font-size: 50px; 
}

.left-p{
font-size: 18px;
}
}

@media (max-width: 1078px){
    .hero-left h2{
        font-size: 48px;
}

.left-active{
    font-size: 48px; 
}

.left-p{
font-size: 16px;
}

.flex-item p{
    font-size: 14px;
  } 
}


@media (max-width:1144px){

    .hero-right img{
        width: 100%;
    }

    .container-left h2{
        font-size: 30px;
    }
}

@media (max-width:1076px){
    .container-left h2{
        font-size: 28px;
    }

   
.profile-card{
    display: flex;
    gap: 4%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 16px;
    width: 26%;
}


.profile-img img{
    width: 100%;
   
}
.profile-img{
    width:20%;
    margin-top: 8%;
}

.inner-info h3{
    font-size: 20px;
}

.sub-info{
    font-size: 16px;
    margin-top: 2%;
}

.inner-info span{
    font-size: 14px;
}

.email{
font-size: 12px;
}

.media{
    display: flex;
    gap: 16px;
    width: 15%;
    
}

.media img{
    width: 80%;
    /* margin-left: 8%; */
}


.image-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 4px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 2%;
    width: 14%;

}

.profile-card{
    position: absolute;
    bottom: 17%;
    left: -3%;
    /* z-index: 1; */
}

.image-card{
    position: absolute;
    right: 50%;
    bottom: 2%;
}
    
}


@media (max-width: 1011px){

    .hero-right img{
        width: 100%;
    }


    .container-left h2{
        font-size: 26px;
    }
}


@media (max-width:964px){

    .hero-right img{
        width: 100%;
    }

    .container-left h2{
        font-size: 24px;
    }

    .right-img img{
        width: 100%;
    }
    
    .card-info{
        font-size: 16px;
    }

    .sub-info{
        font-size: 14px;
        /* text-align: center; */
    }


    .left{
        position: absolute;
        bottom: 20%;
        left: -13%;
        z-index: 1;
    }
    
    .bottom{
        position: absolute;
        right: 12%;
        bottom: -10%;
    }


    
}


@media (max-width:923px){

    .hero-right img{
        width: 100%;
    }

    .container-left h2{
        font-size: 20px;
    }

    .left{
        position: absolute;
        bottom: 25%;
        left: -13%;
        z-index: 1;
    }
    
    .bottom{
        position: absolute;
        right: 12%;
        bottom: -3%;

    }


    
.profile-card{
    position: absolute;
    bottom: 20%;
    left: -3%;
    /* z-index: 1; */
}

.image-card{
    position: absolute;
    right: 50%;
    bottom: 10%;
}

.position-card{
    width: 25%;
}
  
}


@media (max-width:813px){
    .container-left h2{
        font-size:18px;
    }

    .container-left p{
        font-size: 14px;
    }

    .about-info h3{
        font-size: 18px;
    }

    .about-info p{
        font-size: 14px;
    }

    ul{
        font-size: 14px;
    }


    .card-info{
        font-size: 12px;
    }

    .sub-info{
        font-size: 10px;
    }

}



@media (max-width: 996px){
    .hero-left h2{
        font-size: 20px;
}

.left-active{
    font-size: 20px; 
}

.left-p{
font-size: 16px;
}

.flex-item p{
    font-size: 12px;
}

}
.flex-item p{
    font-size: 14px
}


@media (max-width: 723px){
    .hero-left h2{
        font-size: 38px;
}

.left-active{
    font-size: 30px; 
}

.left-p{
font-size: 16px;
}

.flex-item p{
    font-size: 12px;
}

}


@media (max-width:478px ){

    header{
        display:flex;
        
    }

    
    
    .hero-right img{
        width: 100%;
    }

    .hero-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 12%;
    }

    .hero-left h2{
        font-size: 32px;
        max-width: 100%;
}

.left-active{
    font-size: 32px; 
}

.hero-left{
    width: 100%;
}

.left-p{
    margin-top: 16px;
}

button{
    width: 100%;
    margin-top: 24px;
}



.bottom{
    position: absolute;
        right: 12%;
        bottom: -15%;
}

.left-btm-flex{
    margin-top: 24px;
    margin-bottom: 24px;
}

.flex-item p{
    font-size: 8px;
}

.hero-right{
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
   
}

.container-left {
    width: 100%;
    padding: 4%;
}

.container-right{
    width: 80%;
}


.container-lef h2{
    color: #141414;
font-family: 'Clash Grotesk';
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 36px */
}



.right-img{
    width: 100%;
}


/* ABOUT SECTION */

.About-cover{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 16%;
}

.about-letf{
    width: 100%;
}

.about-right{
    width: 100%;
}

.about-info h3{

    font-size: 24px;
}


.about-left {
    width: 100%;
    padding: 4%;
}

.about-left{
    width: 95%;
    margin-top: 30%;
}


.profile-card{
    width: 40%;

}

.inner-info h3{
    font-size: 13px;
}
    .sub-info{
        font-size: 9px;
        /* text-align: none; */
    }

    .email{
        font-size: 8px;
    }

    .inner-info span{
        font-size: 7px;
    }

    .profile-img img {
        width: 100%;
        padding: 4%;
    }
    
    .profile-img{
        width: 20%;
    }


    .profile-card{
        position: absolute;
        bottom: 54%;
        left: 1%;
    }

    .image-card{
        position: absolute;
        right: 10%;
        bottom: 40%;
    }


    .image-card{
        width: 30%;
    }

    .card-img {
        width: 100%;
        padding: 4%;
    }
    
    .card-img{
        width: 50%;
    }


    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8%;
        padding: 4%;
    }

    .footer-logo img{
        width: 100%;
    }

    .footer-logo{
        width: 15%;
    }

    .footer-media p{
        font-size: 12%;
    }

    .footer-icon img {
        width: 100%;
        /* padding: 4%; */
    }
    
    .footer-icon{
        width: 18%;
        padding: 2%;
    }

}

@media (max-width:512px) {
    .footer-media p{
        font-size: 12px;
    }
}


@media (max-width:676px){
    .menu-icon{
        display: block; 
        
    }

    nav{
        display: none;
    }

    .menu-icon.hide {
        display: none;
    }

    .menu-icon-clos.hide {
        display: block;
    }

    .nav2.visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--Background,white );
        position: fixed;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 12;
    }

}


/* blog page responsiveness */

@media (max-width:1250px) {
      
    .blog-hero-left{
        position: absolute;
        bottom: 35%;
        right: 40%;
    }
    
    
}

@media (max-width:1110px){
    .blog-hero-left{
        position: absolute;
        bottom: 25%;
        right: 30%;
    }

    .blog-hero-left h2{
        font-size: 58px;
    }
}

@media (max-width:906px) {
    .blog-hero-left{
        position: absolute;
        bottom: 20%;
        right: 20%;
    }

    .blog-hero-left h2{
        font-size: 55px;
    }
}


@media (max-width:778px){
    .blog-hero-left h2{
        font-size: 50px;
    }
}

@media (max-width:698px){
    .blog-hero-left{
        position: absolute;
        bottom: 35%;
        right: -5%;
    }

    .blog-right-hero{
        display: none;
    }

    .blog-hero-respond{
        display: block;
        
    }

    .blog-hero-left{
        width: 100%;
    }

    .blog-hero-left button{
        width: 90%;
        /* padding: 14.5px 24px; */
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 4%;
        row-gap: 4%;
        width: 100%;
    margin-bottom: 25%;
       
    }

    .banna{
        position: relative;
        margin-bottom: 10%;
    }

    .banna h3{
        font-size: 25px;
    }
    
    .bann-info-poistion{
        position: absolute;
        top: 30%;
        
        right: 5%;
    }

    .last-grid-cover{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4%;
        margin: 2% 4%;
        /* width: 100%; */
        
    }
    
    .last-grid-item img{
        width: 100%;
    }

    
    
}

@media (max-width:510px) {
    .blog-hero-left h2{
        font-size: 42px;
    }
}

@media (max-width:442px){
    .blog-hero-left h2{
        font-size: 34px;
    }
}

@media (max-width:482px) {
    .blog-hero-left h2{
        font-size: 40px;
    }
}

@media (max-width:462px){
    .blog-hero-left h2{
        font-size: 38px;
    }
}

@media (max-width:390px){
    .blog-hero-left h2{
        font-size: 30px;
    }
}

@media (max-width:375px){
    .blog-hero-left h2{
        font-size: 32px;
    }
}

@media (max-width:330px){
    .blog-hero-left h2{
        font-size: 28px;
    }
}

/* feature section */


@media (max-width:546px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4%;
        row-gap: 2%;
        width: 100%;
         margin-bottom: 24rem;
    }
}



@media (max-width:490px){
   .Featured-list{
    /* width: 100%; */
    flex-direction: row;
    justify-content: space-around;
   }

   .Featured h2{
    font-size: 30px;
   }

   .short-cover p{
    font-size: 45px;
    margin-top: 10%;
   }

   .nav2{
    /* position: fixed; */
   }

}


@media (max-width:1186px){
    .last-grid-info h3{
        font-size: 16px;
    }

    .last-p-tag{
        font-size: 14px;
    }
}

@media (max-width:1206px) {
    .last-grid-info h3{
        font-size: 12px;
    }

    .last-p-tag{
        font-size: 10px;
    } 

    .last-date{
        font-size: 10px;
    }
}

@media (max-width:762px) {

    .last-grid-info h3{
        font-size: 18px;
    }

    .last-p-tag{
        font-size: 16px;
    } 

    .last-date{
        font-size: 12px;
    }
}


@media (max-width:375px){
    .bann-info-poistion h3{
        font-size: 17px;
    }

    .bann-info-poistion{
       position : absolute;
    top: 35%;
    /* bottom: 0; */
    right: 5%;
    z-index: 1;
    }
}


@media (max-width:687px){
    .last-grid-cover{
        margin-bottom: 20%;
    }

    footer{
        flex-direction: column;
        align-items: center;
        /* margin: auto; */
        
    }

    .footer-logo{
        margin-bottom:4%;
        width: 20%;
    }

    .footer-icon{
        /* margin: 0 auto; */
        gap: 8%;
    justify-content: center;
    }
    .footer-icon-img{
        margin-left: 2%;
    }
}

@media (max-width:687px){
    .footer-media{
       align-items: center;
    }

    footer{
        padding: 8% 4%;

    }
}
